body {
    font-family: Inter;
    background-color: white;
}
button {
    border-radius: 20%;
    height: 50px;
    width: 60px;
}
#inputNum {
    font-size: 20px;
    width: 80px;
    height: 30px;
}